.image_about{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.image_about img{
    width: 300px;
    height: 300px;
    transform: translateX(0%);
}

.line{
    position: relative;
}

.line::before{
    position: absolute;
    content: '';
    width: 25%;
    bottom: -10px;
    height: 10%;
    background: rgb(30, 157, 255);
}

.visimisi{
    background-color: #EEE589;
}

@media screen and (min-width: 768px){
    .list-tujuan{
        width: 40%;
    }
}
