.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 992px){
    .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
        display: flex;
        flex-direction: column;
    }

    .fc-toolbar-chunk:nth-child(1){
        order: 2;
        margin: 10px;
    }
    .fc-toolbar-chunk:nth-child(2){
        order: 1;
        margin: 10px;
    }
    .fc-toolbar-chunk:nth-child(3){
        order: 3;
        margin: 10px;
    }
}

.fc-button{
    width: 65px;
    height: 35px;
    font-size: 0.8rem !important;
    font-weight: 600;
    text-align: center;
}