.file-upload>input {
    display: none;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px-;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
