@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background: #FBFBFB;
}

nav {
    height: 65px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 140%;
    font-weight: bold;
    padding: 12px 100px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

nav img {
    width: 45px;
    height: 45px;
    margin: 0;
}

.navigation-link li {
    margin-right: 20px;
}

.btn-masuk {
    width: 152px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 992px) {
    #navbarNav {
        padding: 20px;
        background: rgb(194, 194, 194);
    }
}


.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.heading {
    font-family: 'Montserrat', sans-serif;
}

.font-1 {
    font-size: 1px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-24 {
    font-size: 24px !important;
}

.bg-red {
    background: #D25757;
}
