.login-box {
    max-width: 500px !important;
    width: 100% !important;
    padding: 40px 20px;
    margin: 5px auto
}

.custom {
    display: inline-block
}

.error-message{
    font-size: 0.7rem;
}
